# core
path==16.2.0
ttictoc==0.5.6
pathlib==1.0.1
nibabel==3.2.1
numpy==1.21.2

# hd-bet reqs
SimpleITK==2.2.1
scikit-image==0.18.3
-e git+https://github.com/MIC-DKFZ/batchgenerators#egg=batchgenerators
torch
-f https://download.pytorch.org/whl/torch_stable.html
